<footer class="container copyright-view">
    <div class="col-md-6 col-md-offset-1 col-md-push-5">
        <div class="row">
            <!--<p class="text-center">
                <a href="http://public.four51.com/help-information/" target="_blank">
                    <i class="fa fa-cloud"></i><br />
                    <strong>{{'Powered by' | xlat}} Four51°</strong>
                </a>
            </p>-->
            <p class="text-center">
                {{'Copyright' | xlat}} © {{year}} Oak Street Health. {{'All Rights Reserved' | xlat}}. 
                <span ng-if="!(user.Permissions.contains('HideTerms'))">
                    <a class="btn btn-default btn-sm" href="conditions">
                        {{'Conditions of Use' | xlat}}
                    </a>
                </span>
                <a class="btn btn-default btn-sm" href="#">
                    {{'FAQ' | xlat}}
                </a>
                <a class="btn btn-default btn-sm" href="#">
                    {{'Contact Us' | xlat}}
                </a>
            </p>
        </div>
    </div>
</footer>